* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:5px 10px;
	background-color:#efefef;
}
#grid-wrap,#controls-wrap {
	width:50%;
	margin:0;
	padding:10px;
	display:inline-block;
	vertical-align: top;
}
#grid-wrap {
	font-size:0;
}
.function.selected {
	color:#d5d9e0;
	background-color:#303f5f;
}
div.tile {
	display:inline-block;
	margin:0;
	border:1px solid #666;
	transition:all 0.3s;
	color:#222;
	vertical-align:top;
	text-align:center;
}
.tile.placeholder {
	background-color:#555;
}
.tile.placeholder:hover {
	background-color:#777;
}
.plus,.minus,.times {
	background-color:#fdcb25;
	color:#420;
}
.player {
	background-color:#da3738;
}
.barrier {
	background-color:#333;
}
.tile input[type=text] {
	width:100%;
	text-align:center;
	background:none;
	border:none;
}
.number {
	background-color:#2f5b36;
}
.number input {
	color:#b5ccb9;
}
.target {
	background-color:#b5ccb9;
}
.target input {
	color:#2f5b36;
}
#androidJsonTarget {
	display:none;
	width:100%;
	rows:20;
}
